{"filter":false,"title":"requirements.txt","tooltip":"/blog/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1557995829508,"hash":"17a6f4157b3c6b3716bd4294fa1d47db4d491c53"}